Core Django Framework
Django~=5.2

WSGI HTTP Server for production
gunicorn~=22.0

Simplified static file serving for production
whitenoise~=6.7.0

Python Imaging Library, often a dependency for image fields
Pillow~=10.4.0